<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RwEaRs</title>
    <link rel="stylesheet" href="/stylesheet/header.css" />
    <link rel="stylesheet" href="/stylesheet/logout.css" />
    <link rel="stylesheet" href="/stylesheet/overCard.css" />

   <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- header   -->
      <div class="header">
        <!-- logo -->
        <div class="logo">
          <!-- logo Images -->
          <img src="/Images/headericon.png" alt="" />
          <h2>RwEaRs</h2>
        </div>
        <!-- varitey_item -->

        <div class="item" id="item">
          <div class="variety-item" id="variety-item">
            <li><a href="/mens">Men</a></li>
            <li><a href="/women">Women</a></li>
            <li>
              <a href="/teenguy">TeenGuy</a>
            </li>
          </div>
          <!-- Profile -->
          <div class="profile">
            <div class="cart">
              <a href="/cart"> <img src="/Images/cart.png" alt="" /></a>
            </div>
            <div class="profile-icon">
              <img src="/Images/profileicon.png" alt="" />
              <span class="tooltiplogout"><a href="/logout">LogOut</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="hameburger" id="hameburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>



  <!-- section -->
  <% if(post){%>
    <div class="section">
    
      <div class="image">
        <img src="<%=post.image%>" alt="Image " />
      </div>
      <div class="information">
        <h2><%=post.title%></h2>
        <h2>Price: ₹<%=post.price%><h2>
          <h2> Discount: <%=post.discount%></h2>
          <p>Size: <%=post.size%></p>


          <div class="button">
            <form  action="/overCard/<%=post._id%> " method="post" id="addToCartForm" ">

              <input id="AddToCart" type="submit" value="Add To Cart">
            </form>
           
          </div>

      </div>
    </div>
    <%  }%>


    </div>
  </body>
  <script src="/Javascripts/hameburger.js"></script>
</html>



